{% extends 'base.html' %}

{% block body %}
<h1>Index Page</h1>

<a href="/create" class="btn-lg btn-info" role="button">投稿する</a>

<div class="container">
  {% for post in posts %}
  <div class="card">
      <h5 class="card-header">日付：{{ post.post_date.date() }}</h5>
      <div class="card-body">
        <h5 class="card-title">タイトル：{{ post.title }}</h5>
        <p class="card-text">投稿者：{{ post.user }}</p>
        <a role="button" href="/detail/{{ post.id }}" class="btn-lg btn-secondary">詳細</a>
        <a role="button" href="/delete/{{ post.id }}" class="btn-lg btn-danger">削除</a>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
