{% extends "layout.html" %}
{% block content %}
<h1 class='space_etc'>掲示板</h1>

<h2>投稿一覧 ：{{ thread }}</h2>

    <table class="table">
    <thead class="thead-dark">
      <tr>
		<th>ID</th>
        <th>日付</th>
        <th>名前</th>
        <th>投稿</th>
	  </tr>
    </thead>
    <tbody>
        {% for f in articles: %}
        <tr>
		  <td>{{f.id}}</td>
          <th scope="row"><font size="1">{{ f.now_date.strftime('%Y/%m/%d %H:%M:%S') }}</font></th>
          <td>{{ f.name }}</td>
          <td>{{ f.article }}</td>
		</tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{{ url_for('index') }}">スレッド一覧に戻る</a>

	<p class='new_post'></p>

	<h2>投稿する</h2>


	<form action="/result" method="post">
	  <label for="name">名前</label>
      <input type="text" name="name">
	  <p></p>
	  <input type="hidden" name="thread" value="{{ thread }}">
      <label for="article">投稿</label>
      <textarea name="article" rows="6" cols="100"></textarea>
      <p></p>
      <button type="submit">送信する</button>
	</form>

{% endblock %}
